<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Library</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
      <style>

         .h2{
             background-color: yellow;

         }
         .text{
             display: inline;
             background-color: #16a811;
         }
      </style>
</head>
<body>

    <h1 class="text">Welcome to My Online Shop!!!</h1><br> <br>


    <h2>
        <a class="h2" href="user/signIn">SigIn</a>
        <a class="h2" href="user/register">Register</a>
    </h2>



</body>
</html>